NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SITE_URL=https://the-union-confederacy-chronicle.vercel.app
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_TOKEN=
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
RESEND_API_KEY=
LETTER_NOTIFICATION_TO=strifegames@gmail.com
LETTER_NOTIFICATION_FROM="The Union & Confederacy Chronicle <onboarding@resend.dev>"
